<style>
.preview_entity_main {
    margin: 15px;
    border: 1px dashed;
    padding: 5px;
}
.preview-entity-type{
    margin-bottom: 15px!important;
}
.preview-entity-btn{
    border-radius: 5px;
}
#preview-entity-block-type label{
    display:block!important;
}
#preview-entity-block-type{
      margin-bottom: 15px!important;
}
.preview-entity-empty{
    margin:auto;
    display:block;
}
</style>
<div class="preview_entity_main">
<form {{ attributes }}>
  {{ form.entity_name }}
  {{ form.bundle }}
  {{ form.id }}
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
  {{ form.action }}
  {{ form.block_item }}
</form>
</div>