#block-edit-block-item{
    z-index: 9999!important;
    margin: 10px 0px; 
}
.preview-entity-form  .form-item ,
.preview-entity-form .form-preview-entity-action ,
.preview-entity-form .btn-preview {
    margin: 10px;
}
.preview-entity-form .btn-preview {
    margin-left: 0px;
}
.preview-entity-form .btn-preview a{
    padding: 10px;
    margin: 0 10px;
    background-color: darkgray;
    color: #000;
}
#preview-empty-display {
    text-align: center;
    margin: 25px;
}
#preview-empty-display #block-edit-block-item{
    z-index: 9999!important;
    margin: 10px 0px;
    min-height: 300px;
    background-color: #696666ee;
    color: white;
    font-size: 35px;
    padding-top: 10%;
}
.preview-entity-form .form-item-bundle{
    padding-top: 10px;
}
.form-preview-entity-action{
    border-bottom: 1px solid #eeee;
    padding-bottom: 10px;
}
.preview-entity-form{
    margin: 15px;
    border: 2px solid #eeee;
    border-radius: 4px;
}